.images {
  display: flex;
  width: 100%;
  transition: 1.7s;
}

.images img {
  width: 100%;
}
.wrapper {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
  border-radius: 50px;
}

#slide-1:target ~ .images {
  margin-left: 0px;
}

#slide-2:target ~ .images {
  margin-left: -100%;
}

#slide-3:target ~ .images {
  margin-left: -200%;
}

#slide-4:target ~ .images {
  margin-left: -300%;
}

.navigation a {
  display: inline-block;
  height: 3px;
  width: 25px;
  background-color: #9ba5b7;
  font-size: 0px;
  border-radius: 4px;
  margin: 2px;
  transition: 0.8s;
}
.navigation a:hover {
  background-color: #000;
}

.navigation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -50px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
    border-radius: 20px;
  }
}
