body {
  font-family: "Inter", sans-serif;
}

.transparent-bg {
  background-color: rgba(255, 255, 255, 0);
}

.white-bg {
  background-color: #cad2c5;
}

nav {
  font-family: "Inter";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  transition: background-color 0.5s ease-in-out;
}

#logo img {
  height: 20px;
}

.main-content ul {
  position: relative;
  font-size: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
}

.main-content ul:hover::after {
  width: 100%;
}

.main-content ul li {
  position: relative;
  margin: 0 20px;
}

.main-content ul li:not(.btn-login):not(.logo):not(.toggle)::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #354f52;
  transition: width 0.2s ease-in-out;
}

.main-content ul li:not(.btn-login):not(.logo):not(.toggle):hover::after {
  width: 100%;
}

.main-content ul li a {
  text-decoration: none;
  color: #000000;
}

.main-content ul .btn-login {
  padding: 9px 9px;
  background-color: #789d85;
  border-radius: 9px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.main-content ul .btn-login:hover {
  background-color: #52796f;
}

.main-content ul .btn-login:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(53, 79, 82, 0.5);
}

@media screen and (max-width: 768px) {
  .transparent-bg {
    background-color: #cad2c5;
  }
  .item {
    display: block;
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
    transition: all 0.5s 0.3s;
  }

  .item.active {
    display: block;
  }

  .toggle {
    cursor: pointer;
  }

  .bars {
    background: #354f52;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
  }

  .bars::before,
  .bars::after {
    background: #354f52;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
  }

  .bars::before {
    top: 5px;
  }

  .bars::after {
    top: -5px;
  }
  .main-content ul li:not(.btn-login):not(.logo):not(.toggle)::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 40%;
    width: 0;
    height: 2px;
    background-color: #354f52;
    transition: width 0.2s ease-in-out;
  }

  .main-content ul li:not(.btn-login):not(.logo):not(.toggle):hover::after {
    width: 20%;
  }
}
