body {
  font-family: "Inter";
  margin: 0;
  background-color: #f8f9f5;
}
.transparent-bg {
  background-color: rgba(255, 255, 255, 0);
}

.white-bg {
  background-color: #cad2c5;
}

#logo img {
  height: 20px;
}

.resihead {
  justify-content: center;
  padding: 100px;
  width: 100px;
  height: 100px;
}

.container-5 {
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  width: 100%;
}

.heading-container p {
  font-size: 40px;
  color: #354f52;
}

.search {
  position: relative;
}

.searchInput {
  width: 500px;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: none;
  background-color: #e4e4e4;
}

::placeholder {
  color: #969696;
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px;
}

.searchInput:focus {
  outline: none;
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: #969696;
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.container-3 {
  background-color: #cad2c5;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  text-align: center;
  color: #fff;
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: 240px;
}
#proses-pengiriman {
  flex: 1;
  align-items: center;
  margin-left: 25%;
}
#informasi-paket {
  background-color: #cad2c5;
  flex: 1;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 2;
}
.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 30px;
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  align-items: center;
  justify-items: center;
  margin-top: 25px;
}
.container-3 img {
  border-radius: 50%;
  background: #fff;
  width: 50px;
}
#text {
  text-align: center;
  color: #354f52;
  font-size: 22px;
}
#container-2 {
  display: none;
  border-radius: 1rem;
  justify-content: space-evenly;
  gap: 1rem;
  flex-direction: row;
  padding: 1rem;
  max-width: 1071px;
  margin: 0 auto;
  color: #354f52;
  flex-wrap: wrap;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
}
h3 {
  font-weight: bold;
}
td {
  font-size: 18px;
}
.container {
  position: relative;
}

.garis1 {
  position: absolute;
  top: 34%;
  width: 15%;
  right: 50%;
  height: 5px;
  background-color: #ffffff;
  z-index: -1;
}

.garis2 {
  position: absolute;
  top: 34%;
  width: 17%;
  right: 31%;
  height: 5px;
  background-color: #ffffff;
  z-index: -1;
}

#notiferror {
  display: none;
  font-size: 15px;
  color: red;
}

@media screen and (max-width: 768px) {
  .search .searchInput {
    width: 100%;
  }
  #proses-pengiriman {
    margin: 0;
  }
  .column {
    width: 25%;
  }
  #text {
    font-size: 15px;
  }
  .garis1 {
    right: 58%;
    width: 16%;
    top: 39%;
  }
  .garis2 {
    right: 30%;
    top: 39%;
  }
  .container-3 {
    height: 200px;
  }
  table p {
    font-size: 100px;
  }
  .text {
    font-size: 12px;
  }
}
